 
<div id="user_nav">
	<span id="not-opacity">
	  Exploring as <strong><%= current_user.username %></strong>. | 
	  <%= link_to "Home", root_path %> |
	  <a href="#" id="new-genre" >New Genre</a> |
    <%= link_to "Logout", destroy_user_session_path, method: :delete %> |
	  <a href="#" id="test-song" >test song</a>
	</span>
</div>

<div id="game-container"></div>

<div class="aside" id="playlist-menu">
  <ul class="aside-ul" id="playlist-ul">
    <li><a class="playlist-track" href="#">Cool Artist - Cool Track 1</a></li>
    <li><a class="playlist-track" href="#">Cool Artist - Cool Track 12</a></li>
    <li><a class="playlist-track" href="#">Cool Artist - Cool Track 123</a></li>
    <li><a class="playlist-track" href="#">Cool Artist - Cool Track 1234</a></li>
  </ul>
</div>
<div class="aside" id="ranking">
  <ul class="aside-ul" id="ranking-ul">
  	Current Score
    <span id="current-user-score">8</span>
    <li id="score-title">Top Discoverers</li>
    <li>1: Scott -  1</li>
    <li>2: David -  2</li>
    <li>3: Francesca -  3</li>
    <li>4: User - 4</li>
  </ul>
</div>
<div id="genre-picker" class="modal">
  <select name="" id="genre-select">
    <option value="folk">folk</option>
    <option value="rock">rock</option>
    <option value="pop">pop</option>
    <option value="indie">indie</option>
    <option value="electronic">electronic</option>
  </select>
  <input type="submit" id="genre-button" class="button-to" value="Pick a genre"/>
</div>

<div id="current-song" class="modal"><span id="current-song-dislay"> 
   This is the song you are looking at!</span>
   <span id="discovered-song-title" >title</span>

  <input type="submit" id="add-button" class="button-to" value="Add to playlist!"/>
  <input type="submi" id="no-thanks" class="button-to" val="No Thanks"/>
</div>

<div id="arrow-keys-modal" class="modal">Use the arrow key's to move your avatar</div>
