body {
  background-color: transparent;
}

#sc-logo {
  position: fixed;
  bottom: 4%;
  left: 44%;
  height: 22px;
  z-index: 1000;
}
/*=========================WAVE STYLES========================================*/

#world1 {
  z-index: -100;
  
}

.world {
  z-index: -100;
  top: 0;
  left: 0;
  position: absolute;

}

#game-container {
  z-index: 1000;
  top: 0;
  left: 0;
}

/*=========================DEVISE STYLES========================================*/
a, h1, body, p {
  font-family: 'Raleway', sans-serif;
  color: #4FC1DB;
  font-size: 1em;
}

h1 {
  padding: 20px;
  font-size: 2em;
}

h3 {
  text-decoration: underline;
}

p {
  padding: 25px;
}

a {
  text-decoration: none;
}

.devise-box {
  display: inherit;
  background-color: white;
  width: 500px;
  height: 500px;
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  line-height: 1.65px;
  padding: 20px;
  text-align: center;
  border-radius: 20px;
  
  -webkit-border-radius: 20px;
}

.hidden-boxes {
  display: none;
}

#flash_alert {
  color: #fff;
  text-align: center;
  margin-top: 15px;
}
#error_explanation {
  color: #000;
}
#error_explanation h2 {
  line-height: 25px;
}
#error_explanation li {
  line-height: 25px; 
}
.button-to {
    font-family: 'Raleway', sans-serif;
    font-size: 1em;
    padding: 20px 15px;
    margin: 0px 20px 10px 20px;
    background: #4FC1DB;
    color: #FFF;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
    border: none;
}
a.button-to {
  display: inline-block;
  /*padding: 20px 15px;*/
}

.secondary {
  padding: 12px;
  font-size: .9em;
}

.button-to:hover {
    background: #4BF2E4;
    text-decoration: none;
}

.button-to #soundcloud-btn {
  margin: 20px;
  background: #F07030;
}

.form-elements {
  padding: 20px 15px 0px 15px;
} 

input { 
  border-radius: 5px;
  padding: 10px 15px;
  border: 2px solid #4FC1DB;
}

.sc-button img {
  margin: 20px 0 10px 0;
}

/*=========================END DEVISE STYLES========================================*/
#user_nav {
  position: absolute;
  top: 0px;
  width: 100%;
  background-color: white; 
  text-align: right;
  height: 30px;
  z-index: 100;
  padding-top: 15px;
}

#logo {
  float: left;
  margin-top: -8px;
}

.aside {
  background-color: #ffffff;
  position: fixed;
  z-index: 1000;
  overflow-y: scroll;
  overflow-x: scroll;
}

#playlist-menu {
  width: 200px;
  bottom: 10%;
  top: 10%;
  right: -180px;
  -webkit-border-radius: 15px 0px 0px 15px;
  border-radius: 15px 0px 0px 15px;
}

.playlist-track {
  text-decoration: none;
  color: #4FC1DB;
}

#ranking {
  width: 250px;
  height: 250px;
  left: -200px;
  bottom: -200px;
  -webkit-border-radius: 0px 15px 0px 0px;
  border-radius: 0px 15px 0px 0px;
  padding-top: 0px;
}

#ranking-ul {
  margin-top: 10px;
  line-height: 28px;
  font-size: 1em;
}

#current-user-score {
  position: absolute;
  top: 12px;
  right: 12px;
  font-size: 1em; 
}

.aside-ul {
  padding: 10% 0 10% 10%;
  font-family: 'Raleway', sans-serif;
  font-size: 1em;
  line-height: 24px;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  letter-spacing: 1px;
  white-space: nowrap;
}

#genre-picker {
  z-index: 100;
  background-color: #fff;
  width: 400px;
  height: 100px;
  text-align: center;
  margin-top: 50px;

  -webkit-border-radius: 15px 15px 15px 15px;
  border-radius: 15px 15px 15px 15px;
}

#genre-select {  
  border: 0; 
  font-family: 'Raleway', sans-serif;
  font-size:1em;
  margin-top: 40px;

  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
}

#current-song-dislay, #discovered-song-title, #no-thanks {
  color: #fff;
}

#add-button, #no-thanks {
  background: rgba(79,193,219,0.8);
  cursor: pointer;
}

.modal {
 display: none;
 color: #fff;
}

#ocean-playlist {
  margin-bottom: 10px;
}

.modal p {
  font-family: 'Raleway', sans-serif;
  font-size: 1.2em;
  color: #fff;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  letter-spacing: 1px;
}

.sound_ocean {
  margin: 30px;
}

.song-info {
  padding: 15px;
}

a.song-info {
  color: #4BF2E4;
}

#playlist-box {
  overflow: scroll;
}
