body {
  background-color: #4FC1DB;
}
/*=========================DEVISE STYLES========================================*/
a, h1, body, p {
  font-family: 'Raleway', sans-serif;
  color: #4FC1DB;
  font-size: 1em;
}

h1 {
  padding: 20px;
  font-size: 2em;
}

p {
  padding: 25px;
}

a {
  text-decoration: none;
}

.devise-box {
  display: inherit;
  background-color: white;
  width: 500px;
  height: 500px;
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  line-height: 1.65px;
  padding: 20px;
  text-align: center;
  border-radius: 20px;
  
  -webkit-border-radius: 20px;
}

.button-to {
    font-family: 'Raleway', sans-serif;
    font-size: 1em;
    padding: 10px 15px;
    margin: 0px 20px 10px 20px;
    background: #4FC1DB;
    color: #FFF;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
    border: none;
}
a.button-to {
  display: inline-block;
  padding: 20px 15px;
}
.button-to:hover {
    background: #4BF2E4;
    text-decoration: none;
}

.button-to #soundcloud-btn {
  margin: 20px;
  background: #F07030;
}

.form-elements {
  padding: 20px 15px 0px 15px;
} 

input { 
  border-radius: 5px;
  padding: 10px 15px;
  border: 2px solid #4FC1DB;
}

img {
  margin: 30px
}



/*=========================END DEVISE STYLES========================================*/
#user_nav {
  position: absolute;
  top: 0px;
  width: 100%;
  background-color: white; 
  text-align: right;
  height: 30px;
  z-index: 100;
}

.aside {
  background-color: #ffffff;
  opacity: 0.2;
  filter: alpha(opacity=40);
  position: fixed;
  z-index: 1000;
}

#playlist-menu {
  width: 200px;
  bottom: 10%;
  top: 10%;
  right: -180px;
  -webkit-border-radius: 15px 0px 0px 15px;
  border-radius: 15px 0px 0px 15px;
}

.playlist-track {
  text-decoration: none;
  color: black;
}

#ranking {
  width: 200px;
  height: 200px;
  left: -170px;
  bottom: -170px;
  -webkit-border-radius: 0px 15px 0px 0px;
  border-radius: 0px 15px 0px 0px;
  padding-top: 0px;
}

.aside-ul {
  padding: 10% 0 10% 10%;
  font-family: 'Raleway Dots', cursive;
  font-size: 14px;
  font-weight: bold;
  line-height: 24px;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  letter-spacing: 1px;
  white-space: nowrap;

}

#current-user-ranking {
  position: absolute;
  top: 10px;
  right: 15px;
}

.modal-box { width: 500px; margin: 20px 0; }
.modal-box table { margin: 1em 0; border-collapse: collapse; width: 100%; }
.modal-box table td, div#users-contain table th { border: 1px solid #eee; padding: .6em 10px; text-align: left; }

#genre-picker {
  z-index: 100;
  background-color: #fff;
  width: 400px;
  height: 200px;

  -webkit-border-radius: 15px 15px 15px 15px;
  border-radius: 15px 15px 15px 15px;
}

#genre-select, #genre-button, option {
  font-family: 'Raleway Dots', cursive;
  font-size: 18px;
}

#genre-select {  
  border: 0; 
  font-family: 'Raleway Dots', cursive;
  font-size:18px;
  margin: 30px 0 0 30px;

  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
}

#genre-picker, #current-song {
 display:none; 
}
