
<div class="devise-box">
<h1>Your Ocean Sounds Playlists</h1>

		<% @songs.each do |song| %>
			<ul>
				<li><%= song.title %></li>
				<li><%= song.artist %></li>
				<li><%= song.url %></li>
			</ul>
		<% end %>	
		

</div>
